body {
  background-color: #E5E5E5;
  height: 100vh;
  margin: 0;
}

#root {
  font-family: "Proxima Nova";
  padding: 40px;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.header img {
  text-align: center;
  height: 50px;
}

.intro {
  line-height: 26px;
  margin: 2rem 0;
}

h2 {
  font-family: proxima-nova;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 2rem 0 .6rem 0;
  text-align: center;
}

ul {
  list-style-type: none;
  margin-top: 4rem;
  padding-left: 0;
  text-align: center;
}

li {
  margin: 2rem 0;
  opacity: 0;
  transition: opacity .5s ease-out;
  width: 100%;
}

li p {
  font-size: .9rem;
  line-height: 19.36px;
}

.show {
  opacity: 1;
  transition: opacity .5s ease-in;
}

p {
  font-family: proxima-nova;
  padding: 0 1rem;
  margin: 0;
  text-align: center;
}

h4 {
  font-family: "Cormorant Garamond";
  font-size: 1.5rem;
  font-weight: normal;
  margin: 1rem 0;
}

h5 {
  font-family: proxima-nova;
  font-size: .9rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

img {
  max-width: 145px;
  width: 100%;
}

.reading {
  text-align: center;
}

button {
  background-color: #B6B405;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: .9rem;
  font-weight: bold;
  letter-spacing: 0.085rem;
  line-height: 15px;
  outline: none;
  padding: .8rem;
  text-transform: uppercase;
  width: 261px;
}

button:hover {
  background-color: silver;
}

button:active {
  background-color: gray;
  color: white;
}

@media only screen and (min-width: 600px) {
  .intro p {
    font-size: 1rem;
    padding: 0 8rem;
  }
  .reading {
    margin-top: 2.2rem;
  }
  ul {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    height: 500px;
    overflow: scroll;
  }
  li {
    max-width: 300px;
  }
  li img {
    max-height: 300px;
  }
  p {
    font-size: 1rem;
  }
  hr {
    display: none;
  }
}